<h1>Posts (Balanced by :media_type)</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Media Type</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.media_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<h2>Try Content Balancing Examples:</h2>
<ul>
  <li><%= link_to 'Balance Contents by Category', balance_contents_by_category_path %></li>
  <li><%= link_to 'Balance Contents by Content Type', balance_contents_by_content_type_path %></li>
</ul> 